body {
    background: green;
}

.cardBody {
    height: 550px;
    width: 310px;
    background: white;
    top: 5%;
    left: 35%;
    border-radius: 13px;
    position: absolute;
}

.my-head {
    font-size: 75px;
    top:15px;
    left: 15px;
    position: absolute;   
}

.my-main {
    font-size: 75px;
    position: absolute;
    top: 100px;
    bottom: 105px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.my-footer{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 75px;
    
}